.wrapper {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.wrapper > h1 {
    background-image: url('/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15rem;
    font-family: 'Oswald', sans-serif;
}

.wrapper > p {
    text-align: center;
    width: 62.5%;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 775px) {
    .wrapper > h1 {
        font-size: 10rem;
    }
    .wrapper > p {
        font-size: 1.1rem;
    }
}