.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 80vh;
    text-align: center;
    padding: 0 0.5rem;
}
